.container {
	max-width: 1200px;
	margin: 100px auto;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: flex-start;
	gap: 20px;
	.main-video-container {
		flex: 1 1 700px;
		border-radius: 5px;
		box-shadow: 0 5px 15px rgba(0,0,0,.1);
		background-color: #fff;
		padding: 15px;
		.main-video {
			margin-bottom: 7px;
			border-radius: 5px;
			width: 100%;
			min-height: 400px;
		}
		.main-vid-title {
			font-size: 20px;
			color: #444;
		}
	}
	.video-list-container {
		flex: 1 1 350px;
		height: 475px;
		overflow-y: scroll;
		border-radius: 5px;
		box-shadow: 0 5px 15px rgba(0,0,0,.1);
		background-color: #fff;
		padding: 15px;
		&::-webkit-scrollbar {
			width: 10px;
		}
		&::-webkit-scrollbar-track {
			background-color: #fff;
			border-radius: 5px;
		}
		&::-webkit-scrollbar-thumb {
			background-color: #444;
			border-radius: 5px;
		}
		.list {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 15px;
			padding: 10px;
			background-color: #eee;
			cursor: pointer;
			border-radius: 5px;
			margin-bottom: 10px;
			// flex-flow: column;
			gap: 10px;
			&:last-child {
				margin-bottom: 0;
			}
			&.active {
				background-color: #444;
				.list-title {
					color: #fff;
				}
			}
			img.list-video-thumbnail {
				max-width: 50px;
				width: 100%;
			}
			.list-title {
				font-size: 17px;
				color: #444;
				font-size: 15px;
				text-align: center;
			}
		}
	}
}

@media (max-width:450px){
 
    .container {
        .main-video-container {
            .main-vid-title {
                font-size: 15px;
                text-align: center;
            }
        }
        .video-list-container {
            .list {
                flex-flow: column;
                gap: 10px;
                .list-video {
                    width: 100%;
                }
                .list-title {
                    font-size: 15px;
                    text-align: center;
                }
            }
        }
    } 
}